@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// Section2
$background-color: lightgreen;
$height: 60em;

// Entire skills wrapper
$skills-height: 40em;
$skills-width: 100%;

// All skills
$border-width: 0.7em;
$border-color: lightgreen;
$border-radius: 45px;
$transition-speed: 0.35s;
$padding: 1em;

// Skill 1 & 2 wrapper
$wrapper1-width: 60em;
$wrapper1-height: 100%;

// Skill div 1
$skill1-height: 50%;
$skill1-width: 100%;
$skill1-background-color: $secondary;
$skill1-hover: #9c77b6;

// Skill div 2
$skill2-height: 50%;
$skill2-width: 100%;
$skill2-background-color: $tertiary;
$skill2-hover: #e4a92e;

// Skill div 3
$skill3-height: 100%;
$skill3-width: 40em;
$skill3-background-color: $primary-light;
$skill3-hover: #72cce5;

// Skill 4, 5, & 6 wrapper
$wrapper2-width: 100%;
$wrapper2-height: 100%;

// Skill 4 & 5 wrapper
$wrapper3-width: 100%;
$wrapper3-height: 100%;

// Skill div 4
$skill4-height: 100%;
$skill4-width: 50%;
$skill4-background-color: #ff733f;
$skill4-hover: #e56739;

// Skill div 5
$skill5-height: 100%;
$skill5-width: 50%;
$skill5-background-color: pink;
$skill5-hover: #e5adb7;

// Skill div 6
$skill6-height: 100%;
$skill6-width: 100%;
$skill6-background-color: $primary;
$skill6-hover: #3d9fca;

// Entire section2 wrapper
.section2-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: $background-color;
    width: 100%;

    @include angle(before, true, 5deg);
    @include angle(after, true, 5deg);

    .content-wrapper {
        width: 85%;
    }

    .md-grid {
        justify-content: center;
    }

    .skill-paper {
        margin: 1em;
    }

    .skill-card {
        height: 20em;
    }

    .md-card-title {
        justify-content: center;
    }

    .md-card-text {
        justify-content: center;
    }
}

//Desktop only
@media only screen and (min-width: $md-desktop-min-width) {
    .section2-wrapper {}
}

//Tablet
@media only screen and (max-width: $md-desktop-min-width) and (min-width: $md-tablet-min-width) {
    .section2-wrapper {
        overflow: hidden;
    }
}

@media only screen and (max-width: $md-tablet-min-width) and (min-width: $md-mobile-min-width) {
    .section2-wrapper {}
}