@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

$section1-height: 100%;

@include react-md-media;

// SECTION1 WRAPPER
.section1-wrapper {
    width: $width;
    padding: 0 !important;
    justify-content: center;
    align-items: stretch;

    .left-half-wrapper {
        margin: 0;

        .md-media {
            text-align: center;
            overflow: visible;
        }

        & img {
            height: 110%;
            width: 95%;
            z-index: 2;
            margin: 0 auto;
            pointer-events: none;
        }
    }

    .right-half-wrapper {
        z-index: 2;
        margin: 0;

        .info-wrapper {
            display: flex;
            align-items: center;
            text-align: center;
            height: 43%;
            width: 100%;

            &:hover {
                background-color: #ff733f;
                color: white !important;

                h1,
                h3,
                p {
                    color: white;
                }

                h1 {
                    transition: .5s;
                }

                i {
                    &:hover {
                        color: white;
                    }
                }
            }

            .info-div {
                padding: 2em;
            }

            & h1 {
                display: inline-block;
                color: black;
                margin-bottom: .2em;
            }

            & h3 {
                display: inline-block;
                opacity: .2;
                margin: 0;
                margin-bottom: .2em;
            }

            & p {
                display: block;
                margin: 0;
                margin-top: .5em;
                padding-bottom: 2em;
            }
        }
    }
}

//Desktop only
@media only screen and (min-width: $md-desktop-min-width) {
    .section1-wrapper {
        .info-wrapper {
            &:hover {
                @include angle(after, false, 5deg);
            }
        }
    }
}

//Tablet
@media only screen and (max-width: $md-desktop-min-width) and (min-width: $md-tablet-min-width) {
    .section1-wrapper {
        width: 100%;
        height: 120%;

        & img {}

        .right-half-wrapper {
            display: flex;
            justify-content: center;
            height: 15em;

            .info-wrapper {
                width: 85%;
                height: 100%;
            }
        }
    }
}

@media only screen and (max-width: $md-tablet-min-width) and (min-width: $md-mobile-min-width) {
    .section1-wrapper {
        width: 100%;
        height: 125%;

        & img {
            height: 100% !important;
        }

        .right-half-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 30em;

            .info-wrapper {
                height: 13em !important;
                width: 100%;
                overflow: hidden;

                &:hover {
                    transition: .5s;
                }

                .info-div {
                    padding: 1em;
                }
            }
        }
    }
}