@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// Arrows
$arrow-color: $primary;
$arrow-hover: $primary-dark;

// Wraps entire Section3
.section3-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60em;
    background-color: white;

    // wraps slider contents only
    .simpleslider-wrapper {
        display: inline-block;
        margin: 0;
        width: $width;

        // Arrows
        .slick-prev:before, .slick-next:before {
            color: $arrow-color;

            &:hover {
                color: $arrow-hover;
            }
        }

        .slick-track {
            display: flex;
            height: 35em;
        }

        // Effects individual slides
        .slick-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        // Images
        .portfolio-piece {
            transition: 1s;
            width: 50em;
            height: 30em;
            margin: 0;
            background-color: $secondary;
            cursor: default;

            @include md-box-shadow(1);

            &:hover {
                cursor: pointer;

                @include md-box-shadow(4);
            }

            &:active {
                cursor: default;
            }
        }
    }
}